/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
  /*color: #00B7FF;*/
/*}*/
@font-face{
    font-family: 'SourceHanSans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('OTC/SourceHanSans-Light.ttc');
}

.blurring {
    background-image: url("/Pictures/09e631d19e3c7dca4f1c4203a4331d4d.jpg");
    background-size: cover;
    display: block;
    filter: brightness(40%);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
}

.hero {
    /*background-color: rgba(255, 255, 255, 0.05);*/
    font-family: 'SourceHanSans';
    left:0;
    right: 0;
    position: fixed;
    z-index: 2;
}
.main-nav{
    border-bottom:1px solid rgb(255,255,255);
}

#grad {
    background: #6ecdf6; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#6ecdf6, #2dc2f6); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#6ecdf6, #2dc2f6); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#6ecdf6, #2dc2f6); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#6ecdf6, #2dc2f6); /* Standard syntax */
}

.navbar-item.is-hoverable:hover{
    background-color: #a4dcff;
}